
body {
 background-color: ;
 margin: 0 0 100px;
 background-image: url('../images/bambooforest.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 min-height: 100%;
 padding-bottom: 70px;
}

header {
	width: 100%;
	height: 92px;
	border-style: groove;
	border-color: #ccc;
	background-color: #fff;
}

#header {
	background-color: #4aaaa5;
	color: #fff;
	height: 52px;
	width: 18%;
	right: 30%;
	font-size: 33px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    float: right;
    position: absolute;
    left: 825px;
    top: 24px;
}

ul.topnav li {
	float: left;
	border-right: 1px solid #777;
}

ul li:last-of-type { 
	border-right: none;
}

ul.topnav li a {
    display: inline-block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

ul.topnav li a:hover {
	background-color: #555;
	border-radius: 2px;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	color: #777;
	padding: 10px 30px 8px 30px;
	line-height: 200%;
	
}

h1, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;
	color: #4aaaa5;

}

.main {
	height: 530px;
	width: 960px;
	margin: 30px 50px 50px 143px;

}

#profileimg {
	width: 185px;
	height: 150px;
	padding-left: 30px;
	padding-right: 15px;
	float: left;
}

.main1 {
	width: 650px;
	height: 530px;
	background-color: #ffffff;
	float: left;
	margin: 0px 0px 0px 14px;
	border: 3px groove #dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	display: block
}

.portfolio {
	width: 650px;
	height: 780px;
	background-color: #ffffff;
	float: left;
	margin: 0px 0px 0px 14px;
	border: 3px groove #dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.portfolio.img {
	position: absolute;
	left: 0;
	top: 0;
}

.portfolio.img:hover {
	border: 1px solid #4aaaa5;
}

.content {
	margin: 0 auto;
	border: 1px solid #ccc;
	width: 200px;
	height: 160px;
	position: ;
}

.inside {
	position: absolute;
	background-color: #4aaaa5;
	text-align: center;
	bottom: ;
	left: ;
}

.form {
	padding-left: 30px;
	line-height: 32px;
}


#btn {
	border: solid 10px #4aaaa5;
	border-radius: 20px 20px 20px 20px ;
}

#btn:hover {
	background-color: transparent;
	border: solid 10px #dddddd;
}

#btn:active {
	border: solid 9px #dddddd;
}

li {
	list-style-type: none;
}

.main2 {
	width: 270px;
	height: 200px;
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: center;
	font-style: 'Georgia', Times, Times New Roman, serif;
	font-size: 22px;
	float: right;
	clear: right;
	border: 3px groove #dddddd
}

.main2 a {
	text-decoration: none;
	color: #444444;
	padding: 0px 7px;
	display: inline-block;
}

.fa {
	padding:10px 14px;
    transition: .5s;
    background-color: #fff;
}

.fa-facebook:hover {
    background-color: #3d5b99;
    color: #fff;
    padding: 5px 10px;
}

.fa-twitter:hover {
    background-color: #00aced;
    color: #fff;
    padding: 5px 6px;
}

.fa-instagram:hover {
	background-color: #986d56;
	color: #fff;
    padding: 5px 8px;
}

.fa-linkedin:hover {
    background-color: #0073a4;
    color: #fff;
    padding: 5px 8px;
}

.fa-github:hover {
    background-color: #24292e;
    color: #fff;
    padding: 5px 8px;
}

.fa-stack-overflow:hover {
    background-color: #f5974d;
    color: #fff;
    padding: 5px 8px;
}

.fa-cog {
  color: #fff;
}


footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 70px;
	width: 100%;
	border-style: groove;
	border-top-color: #4aaaa5;
	background-color: #777777;
	color: #dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	text-align: center;
}